
/* modal-body	{ 	font-size:50px !important; 
	color:red !important; 
	}

	b {
	font-size:50px !important; 
	color:red !important;
*/
/*
}
@media print{
   #noprint{
       display:none;
   }

   @page{
  size: auto;
  margin: 0mm;
}

}

@page{
  size: auto;
  margin: 0mm;
}
 */
/* .printable{
		font-size:50px !important; 
	color:red !important;
}
*/
/* 

background: black !important; color: #fff !important; font: 2px arial !important; a:link, a:visited	{color: #333; text-decoration: underline;} 

a[href]:after		{content: " (" attr(href) ")";}
#menu, #lateral		{display: none !important;}
#texto			{width: 100% !important; margin: auto !important; }*/